a2wsgi==1.10.10
aesara==2.9.4
aioquic==1.3.0
argcomplete==3.6.3
argon2pure==1.3
asgiref==3.11.1
Babel==2.18.0
bcryptor==1.2.2
Beaker==1.13.0
BeautifulSoup==3.2.2
beautifulsoup4==4.14.3
boto3==1.43.11
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.0.0
ConfigParser==7.2.0
contextlib2==21.6.0
cppyy==3.5.0
curio==1.6
cx_Oracle==8.3.0
cython==3.2.4
Cython==3.2.4
defusedxml==0.7.1
dl==0.1.0
docutils==0.22.4
dogpile.core==0.4.1
easyocr==1.7.2
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cli==0.0.24
fastpbkdf2==0.2
filelock==3.29.0
filetype==1.2.0
flint==0.0.1
fontTools==4.63.0
gmpy2==2.3.0
grandalf==0.8
gunicorn==26.0.0
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
httpx_aiohttp==0.1.12
hypothesis==6.152.9
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
langchain_anthropic==1.4.3
langchain_openai==1.2.1
langchain_text_splitters==1.1.2
langgraph_api==0.8.7
langsmith_pyo3==0.1.0rc5
lingua==4.16.2
lxml_html_clean==0.4.4
mammoth==1.12.0
matchpy==0.5.5
multiset==3.2.0
nacl==0.0.0
nose==1.3.7
objgraph==3.6.2
olefile==0.47
opencv_contrib_python==4.10.0.84
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
outcome==1.3.0.post0
pandas==3.0.3
pdf2image==1.17.0
pexpect==4.9.0
Pillow==12.2.0
protobuf==3.20.2
psutil==7.2.2
py_hanspell==1.1
pycosat==0.6.6
pycryptodome==3.23.0
pydantic_extra_types==2.11.1
pydy==0.9.4
pyglet==2.1.14
pygraphviz==1.14
pymc==6.0.0
pymc3==3.11.6
pymupdf_fonts==1.0.5
pyodide==0.0.2
pyOpenSSL==26.2.0
PyPDF2==3.0.1
pyppeteer==2.0.0
pysat==3.2.2
pysqlcipher3==1.2.0
python_socks==2.8.1
railroad==0.5.0
rapidfuzz==3.14.5
sage==0.0.0
scipy==1.17.1
simplejson==4.1.1
simsimd==6.5.16
slack_sdk==3.42.0
socksio==1.0.0
sounddevice==0.5.5
speedups==2.1.0
Sphinx==9.1.0
sqlcipher3==0.6.2
strands==0.1.0
symengine==0.14.1
theano==1.0.5
tornado==6.5.5
trove_classifiers==2026.5.7.17
Twisted==26.4.0
types_boto3_secretsmanager==1.43.0
unittest2==1.1.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchdog==6.0.0
winloop==0.6.3
wmi==1.5.1
wrapt==2.1.2
wsproto==1.3.2
xmlrpclib==1.0.1
zope==6.1
